
<div class="prop-index">

<h2>All Properties</h2>

<ul>
<% @properties.each do |property| %>

  <li>
    <!-- SHOW page URL is /propertys/:id -->
    <!--
      <a href="<#%=property_path( property.id ) %>">
      < #%= property.name %>
      </a>
    -->

    <%= link_to property.name, property_path(property.id) %>

  </li>

<% end %>
</ul>
</div>
