<div class="btns">
  <% if @properties.any? %>
    <% @properties.each do |property| %>
      <%= button_to property.name, property_path(property.id), method: :get, :class => "btn btn-outline-info btn-lg btn-block" %>
    <% end %>
  <% else %>
    <%= 'Sorry! No results Found' %>
  <% end %>
  <div>
    <%= button_to 'Back', properties_path, method: :get, :class => "btn btn-light" %>
  </div>
</div>
