img.property {
  max-height: 600px;
}

.carousel {
  display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: 20px;
}

#btn{
  align-items: center;
}

.prop-show , .prop-index {
  text-align: center;
  background-color: #b2ffff;
/* #ffebf5 */
}

ul {
  list-style-type: none;
}

main {
  background-color: #b2ffff;
}


img {
  border-radius: 10px;
  box-shadow: 0 10px 10px -6px black;
}

.form-signin, section {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.name{
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.rounded-circle{
height: 140px;
width: 140px;
}

.featurette-image{
  width: 500px;
  height: 500px;
}

.prop-main-photo{
  height: 400px;
  background-size: cover;
  margin-bottom: 40px;
  margin: 20px;
}

.align-self-start{
  background-color: #7FFAFF;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px black;
  margin: 20px;
  padding: 20px;
}

.icons{
  display: inline-block;
  width: 30px;
  height: 15px;
}
.icon{
  max-width: 10px;
  max-height: 10px;
}

.brok{
  margin: 20px;
  padding: 20px;
}
